/********************************************************
COLORS
********************************************************/
$color-primary: hsla(151, 100%, 19%, 1);
$color-header: hsla(151, 97%, 28%, 1);
$color-secondary: #e17a17;
$white: hsla(0, 0%, 100%, 1);
$gray-100: hsla(0, 0%, 97%, 1) !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-650: hsl(0, 99%, 44%) !default;
$gray-700: #4a4a4a !default;
$gray-750: #463306 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$gray-1000: #282c37 !default;
$black: hsla(0, 0%, 0%, 1);
$header-background: hsla(163, 42%, 65%, 1) !default;
$color1: #808080 !default;
$color2: #d5a831 !default;
$color3: #006231 !default;
$color4: #07cc71 !default;
$color6: #83cdb94d !default;
$color7            : #FBD269 !default;
$color8            : #82CCB91A !default;
$color9            : #83CDB94D !default;

$color-year1: hsla(180, 71%, 90%, 1);
$color-year1-border: hsla(180, 66%, 58%, 1);
$color-year2: hsla(80, 100%, 89%, 1);
$color-year2-border: hsla(80, 73%, 61%, 1);
$color-year3: hsla(51, 92%, 89%, 1);
$color-year3-border: hsla(51, 85%, 70%, 1);
$color-year4: hsla(37, 81%, 83%, 1);
$color-year4-border: hsla(37, 84%, 63%, 1);
