<ng-container *ngIf="{ areaOfStudyList:areaOfStudyList$ | async
                     } as dataOwner">

  <section class="grid-y grid-margin-y">

    <!-- OCCUPATION SEARCH BOX FORM -->
    <div class="cell">

      <gmu-occupation-search-box-form (onFormSubmit)="onOccupationSearchTermSubmission($event)"></gmu-occupation-search-box-form>

    </div>


    <!-- OCCUPATION CARDS BY AREA OF STUDY -->
    <div class="cell ">
      <gmu-occupation-list-by-area-of-study [areaOfStudyList]="dataOwner.areaOfStudyList"
                                            (onAreaOfStudyClick)="onAreaOfStudyClick($event)"
                                            (onOccupationClick)="onOccupationClick($event)"></gmu-occupation-list-by-area-of-study>
    </div>


    <!-- CONNECT WITH COACH FORM -->
    <div class="cell">
      <gmu-connect-with-coach></gmu-connect-with-coach>
    </div>

  </section>

</ng-container>
