<ng-container *ngFor="let item of areaOfStudyList">

  <section class="grid-y">

    <!-- AREA OF STUDY & CTA -->
    <div class="cell">

      <section class="grid-x align-justify align-middle">

        <!-- AREA OF STUDY NAME -->
        <div class="cell shrink">

          <h3>{{item.name}}</h3>

        </div>

        <!-- VIEW ALL BUTTON -->
        <div class="cell shrink">
          <button mat-flat-button
                  class="view-all-button"
                  (click)="onAreaOfStudyClick(item)">
            View All
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>

      </section>

    </div>


    <!-- OCCUPATION LIST -->
    <div class="cell">

      <gmu-occupation-list-scroll [occupationList]="item.occupationList"
                                  (onOccupationClick)="onOccupationClick($event)"></gmu-occupation-list-scroll>

    </div>

  </section>

</ng-container>
