<section class="grid-x grid-padding-x grid-padding-y">
  <div class="cell auto text-right bold">{{occupationProfileDetails.typicalLevelOfEducation}}</div>
  <div class="cell auto"> Degree Recommended </div>
</section>

<section class="grid-x grid-padding-x grid-padding-y">
  <div class="cell auto text-right bold"></div>
  <div class="cell auto"> Job Listings NationWide </div>
</section>

<section class="grid-x grid-padding-x grid-padding-y">
  <div class="cell auto text-right bold"> </div>
  <div class="cell auto"> People have a Degree </div>
</section>

<section class="grid-x grid-padding-x grid-padding-y">
  <div class="cell auto text-right bold">{{occupationProfileDetails.projectedGrowthRate}}</div>
  <div class="cell auto"> Projected Growth </div>
</section>
