@import "common";


:host {
  display  : block;
  margin   : 0 auto;
  max-width: rem-calc(500);
}

p {
  color      : $color-primary;
  font-size  : rem-calc(18);
  font-weight: 700;
  margin     : 0;
  padding    : 0 0 rem-calc(6) 0;

  &.coach {
    font-size  : rem-calc(28);
    font-weight: 900;
  }
}

.icon-coach {
  height: rem-calc(54);
  width : rem-calc(53);
}

.required span {
  color    : $color-secondary;
  font-size: rem-calc(16);
}
