@import 'common';

.bgcolor {
  background                : $color8;
  padding-bottom: 23px;
    margin-bottom: -27px;
}

.bgcolor1 {
  background                : $white;
}

.border {
  position                  : relative;
  max-width                 : rem-calc(450);
  height                    : auto;
  border                    : solid 1px $color-primary;
  margin                    : 0 auto;
  border-radius             : rem-calc(4);
}

.arrow-down {
  width                     : rem-calc(10);
  height                    : rem-calc(10);
  border-top                : rem-calc(0) solid $color-primary;
  border-right              : rem-calc(1) solid $color-primary;
  border-bottom             : rem-calc(1) solid $color-primary;
  border-left               : rem-calc(0) solid $color-primary;
  position                  : absolute;
  bottom                    : rem-calc(-10);
  left                      : 76%;
  top                       : 100%;
  margin-top                : rem-calc(-5);
  transform                 : rotate(45deg);
  background                : $white;
}

.occupationHeading {
  background-color          : $color7;
  color                     : $black;
  margin                    : 0;
  padding                   : rem-calc(4) rem-calc(15);
  border-top-left-radius    : rem-calc(4);
  border-top-right-radius   : rem-calc(4);
}

.check-mark-container {
  background-color          : $header-background;
  padding-top               : rem-calc(10);
  padding-bottom            : rem-calc(10);

  .grid-x {
    height                  : 100%;
  }
}

.check-mark-container1 {
  background-color          : $header-background;
  border-top-left-radius    : rem-calc(2);
  border-bottom-left-radius : rem-calc(2);
  margin-left               : rem-calc(-0.5);
}

.check-mark-container2 {
  background-color          : $header-background;
  z-index                   : 0;
}

.icon-check-mark {
  height                    : rem-calc(85);
  width                     : rem-calc(120);
  padding-left              : rem-calc(10);
}

.icon-check-mark1 {
  height                    : rem-calc(25);
  width                     : rem-calc(30);
  margin-left               : rem-calc(-10);
  margin-top                : rem-calc(5);
}

.icon-check-mark2 {
  height                    : rem-calc(25);
  width                     : rem-calc(25);
  align-content             : center;
  // margin-top                : rem-calc(30);
  // margin-left               : rem-calc(18);
}

@include breakpoint(large only) {
  .icon-check-mark2 {
    margin-top                : rem-calc(30);
    margin-left               : rem-calc(18);
  }
}

@include breakpoint(medium only) {
  .icon-check-mark2 {
    margin-top                : rem-calc(30);
    margin-left               : rem-calc(37);
  }
}

@include breakpoint(small only) {
  .icon-check-mark2 {
    margin-top                : rem-calc(30);
    margin-left               : rem-calc(33);
  }
}

@include breakpoint(xsmall only) {
  .icon-check-mark2 {
    margin-top                : rem-calc(30);
    margin-left               : rem-calc(27);
  }
}

.pathways {
  border                    : solid rem-calc(1) $color3;
  border-radius             : rem-calc(3);
}

.heading {
  font-weight               : bold;
}

.messaging {
  display                   : inline-block;
  font-size                 : rem-calc(12);
  line-height               : 1.2;
}

.grid-padding-y {
  padding                   : rem-calc(10);
}

@include breakpoint(small only) {
  .small-screen {
    padding-top: rem-calc(15);
  }
}

@include breakpoint(xsmall only) {
  .small-screen {
    padding-top: rem-calc(15);
  }
}