<section class="grid-x align-center align-bottom">

  <!-- PARTNERSHIP -->
  <div class="cell shrink advance-container">
    <a class="link advance"
       (click)="onClickAdvance()">
      ADVANCE
    </a>
    <div class="partnership">a partnership with</div>
  </div>

  <!-- NOVA ICON -->
  <div class="cell shrink">
    <mat-icon class="icon-nova"
              [svgIcon]="'icon-nova'"></mat-icon>
  </div>

  <!-- PLUS ICON -->
  <div class="cell shrink align-self-middle">
    <i class="fa fa-plus fa-2x plusStyle"
       aria-hidden="true"></i>
  </div>

  <!-- GMU ICON -->
  <div class="cell shrink">
    <mat-icon class="icon-gmu"
              [svgIcon]="'icon-gmu'"></mat-icon>
  </div>

</section>
