.message__label {
  display    : block;
  font-size  : rem-calc(14);
  line-height: 1.5;

  &--black {
    color: $black;
  }

  &--gray {
    color: $gray-600;
  }

  &--primary {
    color: $color-primary;
  }

  &--light {
    font-weight: 100;
  }

  &--bold {
    font-weight: 700;
  }

  &--tiny {
    font-size: rem-calc(11);
  }

  &--small {
    font-size: rem-calc(12);
  }

  &--medium {
    font-size: rem-calc(15);
  }

  &--large {
    font-size: rem-calc(20);
  }

  &--xlarge {
    font-size: rem-calc(22);
  }

  &--xxlarge {
    font-size: rem-calc(28);
  }


  &--inline {
    display: inline;
  }
}
