@import "common";
@import "~@angular/material/theming";


.router-outlet-wrapper {
  @include breakpoint(medium up) {
    @include mat-elevation-transition;
    @include mat-elevation(8);
    padding: rem-calc(10);
  }
}


.desktop-body-margin-remove {
  @include breakpoint(medium) {
    margin-left : rem-calc(-40);
    margin-top: rem-calc(-23);
  }
}

.desktop-body-margin-remove2 {
  @include breakpoint(medium) {
   margin-top: rem-calc(-23);
   margin-right:rem-calc(-40);
  
  }  
}

