@import 'common';
@import '~@angular/material/theming';


  // cursor : pointer;
  // display: block;
  // margin : 0 rem-calc(10);
  // height : rem-calc(180);
  // width  : rem-calc(160);

  // @include breakpoint(medium) {
  //   margin: 0 rem-calc(12);
  //   height: rem-calc(376);
  //   width : rem-calc(290);
  // }


.card-wrapper {
  height: auto;
}

.mat-card-content {
  height: 100%;
}

.mat-card {
  height :auto;
  margin : 0;
  padding: 0;
}

.occupation-image-container {
  background-repeat  : no-repeat !important;
  background-position: top !important;
  background-size    : cover !important;
  height             : rem-calc(105);
  overflow           : hidden;
  position           : relative;

  @include breakpoint(medium) {
    height: rem-calc(165);
  }
}

.image-overlay {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 0%, #000000 100%);
  height          : 100%;
  left            : 0;
  position        : absolute;
  opacity         : 0.6;
  top             : 0;
  width           : 100%;
  z-index         : 1;
}

.title-container {
  position    : absolute;
  bottom      : rem-calc(10);
  left        : rem-calc(17);
  margin-right: rem-calc(17);
  display     : flex;
}

.occupation-title {
  line-height: 1.2;
  color      : white;
  z-index    : 2;

  @include breakpoint(medium) {
    font-size: rem-calc(20)
  }
}

.align-self-bottom {
  margin-bottom: rem-calc(10);
}


.vertical-line {
  border-right: rem-calc(1) solid $gray-400;
}

a {
  text-decoration: none !important;
}

.styleCard{
  float: left;
      margin-left: 13px;
      margin-top: 10px;
}
.styleCard2{
 float: left;
      margin-left: -66px;
}
.mgn{
  margin-top: 55px;
}
.mn{
 margin:5px
}
.mh{
  margin:5px
}

.viewport-occupation{
  
  margin: 0 rem-calc(10);
    cursor : pointer;
  display: block;
  margin : 0 rem-calc(10);
  height : rem-calc(180);
  width  : rem-calc(160);



  @include breakpoint(medium) {
    margin: 0 rem-calc(12);
      height: rem-calc(288);
      //  height: 250px;
    width : rem-calc(230);
  }

  &:first-child {
    margin-left: 0;
       
  }
}
.viewport-occupation-roadmap{
  //   margin: 0 rem-calc(10);
  //  width: 284px;
  cursor : pointer;
  display: block;
  margin : 0 rem-calc(10);
  height : rem-calc(180);
  width  : rem-calc(160);


  @include breakpoint(medium) {
    margin: 0 rem-calc(12);
    height: rem-calc(480);
    width : rem-calc(290);
   
  }

  &:first-child {
    margin-left: 0;
       
  }
}

.text-font{
  font-size: 18px;
}

.content-style{
  margin: 22px 33px;
  float: left;
}
  .top{
     margin-left: -81px;
  }