@import 'common';

.clear {
  color: $color-header;
}

.headingStyle {
  color : $color-header;
  margin: rem-calc(0);
}

.margin {
  margin: rem-calc(15);
}

.skillDefinitionStyle {
  font-weight: 500;
}
