/* For use in src/lib/core/theming/_palette.scss */
$gmu-palette-green: (50 : #e7e7e7,
  100 : #b3d0c2,
  200 : #80b199,
  300 : #90BAA6,
  400 : #267a52,
  500 : #006233,
  600 : #005a2e,
  700 : #005027,
  800 : #004620,
  900 : #003414,
  A100 : #6cff94,
  A200 : #39ff6e,
  A400 : #06ff49,
  A700 : #00eb40,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));